{
  "extends": ["eslint:recommended", "airbnb"],
  "parser": "babel-eslint",
  "env": {
    "jest": true,
  },
  "rules": {
    "no-use-before-define": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "comma-dangle": 0
  },
  "globals": {
    "fetch": false
  }
}
